@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */
/* .root{} */

:root {
    --color-white: #fff;
    --color-white-alpha-5: #ffffff0d;
    --color-white-alpha-10: #ffffff1a;
    --color-white-alpha-20: #ffffff2b;
    --color-white-alpha-25: #ffffff40;
    --color-white-alpha-30: #ffffff4d;
    --color-white-alpha-35: #ffffff5a;
    --color-white-alpha-40: #ffffff66;
    --color-white-alpha-50: #ffffff80;
    --color-white-alpha-60: #ffffff99;
    --color-white-alpha-70: #ffffffb3;
    --color-white-alpha-75: #ffffffbf;
    --color-black: #000;
    --color-black-alpha-5: #0000000d;
    --color-black-alpha-10: #0000001a;
    --color-black-alpha-20: #0000002b;
    --color-black-alpha-25: #00000040;
    --color-black-alpha-30: #0000004d;
    --color-black-alpha-35: #0000005a;
    --color-black-alpha-40: #00000066;
    --color-black-alpha-50: #00000080;
    --color-black-alpha-60: #00000099;
    --color-black-alpha-70: #000000b3;
    --color-black-alpha-75: #000000bf;
    --color-gray-90: #f7f7f8;
    --color-gray-80: #edeef0;
    --color-gray-60: #c3c7cb;
    --color-gray-40: #51565d;
    --color-gray-20: #2d3034;
    --color-gray-10: #212426;
    --color-gray-05: #18191b;
    --color-red-90: #ffe6ea;
    --color-red-80: #fc7d92;
    --color-red-50: #d31232;
    --color-red-20: #b7102c;
    --color-red-10: #4b0b16;
    --color-orange-90: #fef3eb;
    --color-orange-80: #febe8f;
    --color-orange-50: #e2782c;
    --color-orange-20: #c2570a;
    --color-orange-10: #3f220d;
    --color-yellow-90: #fef0c3;
    --color-yellow-80: #fae49e;
    --color-yellow-50: #e6b30a;
    --color-yellow-20: #97770c;
    --color-yellow-10: #574405;
    --color-green-90: #eaf6ef;
    --color-green-80: #70eba3;
    --color-green-50: #089141;
    --color-green-20: #065b29;
    --color-green-10: #0c311c;
    --color-blue-90: #ecf4fe;
    --color-blue-80: #a4cefe;
    --color-blue-50: #0a5dbd;
    --color-blue-20: #044c9f;
    --color-blue-10: #072446;
    --color-purple-90: #f7f0ff;
    --color-purple-80: #d8b8ff;
    --color-purple-50: #863ae4;
    --color-purple-20: #5f1fad;
    --color-purple-10: #260e43;

}
.border-alpha-25{
    border-color: var(--color-black-alpha-25);
    &:where(.dark, .dark *) {
     border-color: var(--color-white-alpha-25);
  }
}
.border-alpha-35{
    border-color: var(--color-black-alpha-35);
    &:where(.dark, .dark *) {
     border-color: var(--color-white-alpha-35);
  }
}
.border-alpha-50{
    border-color: var(--color-black-alpha-50);
    &:where(.dark, .dark *) {       
        border-color: var(--color-white-alpha-50);  
    }   
}

.text-alpha-25{
    color: var(--color-black-alpha-25);
    &:where(.dark, .dark *) {
     color: var(--color-white-alpha-25);
}}
.text-alpha-35{
    color: var(--color-black-alpha-35);
    &:where(.dark, .dark *) {
     color: var(--color-white-alpha-35);
}}
.text-alpha-40{
    color: var(--color-black-alpha-40);
    &:where(.dark, .dark *) {
     color: var(--color-white-alpha-40);
}}
.text-alpha-50{
    color: var(--color-black-alpha-50);
    &:where(.dark, .dark *) {
     color: var(--color-white-alpha-50);
}}
.text-alpha-60{
    color: var(--color-black-alpha-60);
    &:where(.dark, .dark *) {
     color: var(--color-white-alpha-60);
}}
.text-alpha-70{
    color: var(--color-black-alpha-70);
    &:where(.dark, .dark *) {
     color: var(--color-white-alpha-70);
}}
.text-alpha{
    color: var(--color-black-alpha-50);
    &:where(.dark, .dark *) {
     color: var(--color-white-alpha-50);
}}
.bg-alpha-5{
    background-color: var(--color-black-alpha-5);
    &:where(.dark, .dark *) {
        background-color: var(--color-white-alpha-5);
    }}
.bg-alpha-10{
    background-color: var(--color-black-alpha-10);
    &:where(.dark, .dark *) {
        background-color: var(--color-white-alpha-10);
    }}
.bg-alpha-20{
    background-color: var(--color-black-alpha-20);
    &:where(.dark, .dark *) {
        background-color: var(--color-white-alpha-20);
    }}
.bg-alpha-25{
    background-color: var(--color-black-alpha-25);
    &:where(.dark, .dark *) {
        background-color: var(--color-white-alpha-25);
    }}
    .bg-alpha-40{
        background-color: var(--color-black-alpha-40);
        &:where(.dark, .dark *) {
         background-color: var(--color-white-alpha-40);
    }}
.bg-alpha-70{
    background-color: var(--color-black-alpha-70);
    &:where(.dark, .dark *) {
     background-color: var(--color-white-alpha-70);
}}

.global-color{
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    color: rgb(35 39 47/var(--tw-bg-opacity));
    &:where(.dark, .dark *) {
        color: rgb(255 255 255/var(--tw-bg-opacity));
        background-color: rgb(35 39 47/var(--tw-bg-opacity));
    }
}
.global-color{
    --tw-bg-opacity: 20%;
    color: rgb(255 255 255/var(--tw-bg-opacity));
    background-color: rgb(35 39 47/var(--tw-bg-opacity));
    &:where(.dark, .dark *) {
        color: rgb(35 39 47/var(--tw-bg-opacity));
        background-color: rgb(255 255 255/var(--tw-bg-opacity));
    }
}
.global-border{
    --tw-border-opacity: 1;
    border-color: rgb(220 224 229/var(--tw-border-opacity));
    &:where(.dark, .dark *) {
        border-color: rgb(57 62 70/var(--tw-border-opacity));
    }
    border-width: 1px;
}
.global-shadow{
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    &:where(.dark, .dark *) {
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.5), 0 1px 2px -1px rgb(0 0 0 / 0.5);
    }   
}


:is(.dark .dark\:bg-wash-dark) {
    --tw-bg-opacity: 1;
    background-color: rgb(35 39 47/var(--tw-bg-opacity))
}
.bg-wash,
.bg-white {
    --tw-bg-opacity: 1;
    /* background-color: rgb(35 39 47/var(--tw-bg-opacity)) */
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}
.property-bg{
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    transition-property: color,background-color;
    transition-duration: 300ms;
    &:where(.dark, .dark *) {
        background-color: var(--color-black);
    }
    
}
.bg-opacity-10 {
    --tw-bg-opacity: 10%
}

.bg-opacity-5 {
    --tw-bg-opacity: 05%
}

.bg-opacity-50 {
    --tw-bg-opacity: 50%
}

.bg-opacity-80 {
    --tw-bg-opacity:80%
}

:is(.dark .dark\:bg-opacity-95) {
    --tw-bg-opacity: 95%;
}
.bg-opacity-90 {
    --tw-bg-opacity: 90%
}
.bg-opacity-95 {
    --tw-bg-opacity: 95%
}
.bg-opacity-98 {
    --tw-bg-opacity: 98%
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    --tw-bg-opacity: 1;
    /* background-color: var(--color-white); */
    color: var(--color-gray-950);
    &:where(.dark, .dark *) {
        /* background-color: var(--color-black); */
        /* background-color: var(--color-gray-950); oklch(13% 0.028 261.692) = #030712 */
        color: var(--color-white);
        
        
    }
}
.property-text{
    
    --tw-bg-opacity: 1;
    color: rgb(35 39 47/var(--tw-bg-opacity));
    &:where(.dark, .dark *) {
        color: rgb(255 255 255/var(--tw-bg-opacity));
    }
}



.scrollbar-hidden{
    /* --scrollbar-padding:15px; */
    overflow: hidden;
}

.text-gold{
    color: oklch(82.8% 0.189 84.429);
}
.text-gold-hover:hover{
    color: oklch(76.9% 0.188 70.08);
}
.bordet-gold{
    border-color: oklch(82.8% 0.189 84.429);
}
.border-gold-hover:hover{
    border-color: oklch(76.9% 0.188 70.08);
}
.border-gold-focus:focus{
    border-color: oklch(76.9% 0.188 70.08);
}

