.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.box {
  background: white;
  padding: 20px;
  border-radius: 12px;
}

.box input {
  width: 250px;
  padding: 10px;
  font-size: 16px;
}